################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*.opendb  
*.vs  
*.ipch  
*.log  
*.tlog  
*.obj  
*.idb  
*.pdb  
*.exe  
*.ilk  
#
